# JobGenius Global Gitignore

# ##############################################################################
# #backend - Django & Python
# ##############################################################################
# Python cache files
**/__pycache__/
**/*.py[cod]
*$py.class
**/.pytest_cache/
__pycache__/
*.pyc

# Django specific
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/.env
backend/venv/
backend/env/
backend/jobs/chroma_db/

# ##############################################################################
# #frontend - React & Vite
# ##############################################################################
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
frontend/.env.local

# ##############################################################################
# Miscellaneous
# ##############################################################################
.DS_Store
.vscode/
.idea/
*.log
